
<h1>Start#index</h1>


<div id="container-main">

  <div id="container-weekview">


  </div>

  <div id="container-entry">
    <%= select "client", "id", @clients.map{|c| [c.name, c.id]}   %>

    <select data-placeholder="Välj uppdrag..." id="engagement_id">
    </select>

  </div>


</div>




<p>Find me in app/views/start/index.html.erb</p>

<script type="text/javascript" language="javascript">
    $('#client_id').chosen();
    $('#engagement_id').chosen();
</script>
