<script type="text/javascript" language="javascript">

    function fetch_data_for_dropdown(dataUrl, dropdown_id, root_node_name) {
        $.ajax({
            dataType:'json',
            cache:false,
            url:dataUrl,
            timeout:2000,
            error:function (XMLHttpRequest, errorTextStatus, error) {
                alert('error');
            },
            success:function (data) {
                $('select#' + dropdown_id + ' option').remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo('select#' + dropdown_id);
                $.each(data[root_node_name], function (i, entity) {
                    row = "<option value=\"" + entity.id + "\">" + entity.name + "</option>";
                    $(row).appendTo('select#' + dropdown_id);
                });
                $('select#' + dropdown_id).trigger('liszt:updated');
            }
        });
    }

    function create_new_entry() {
        $('#container-main').mask('loading');

        var postData = 'time_entry[client_id]=' + $('#client_id').val()
                + '&time_entry[engagement_id]=' + $('select#engagement_id').val()
                + '&time_entry[activity_date]=' + $('input#activity_date').val()
                + '&time_entry[activity_id]='   + $('#activity_id').val()
                + '&time_entry[util]='          + $('#util').val()
                + '&time_entry[time_spent]='    + $('#time_spent').val()
                + '&time_entry[description]='   + $('#description').val();

        $.ajax({
                    type: 'POST',
                    dataType:'json',
                    cache:false,
                    url:'/time_entry/create',
                    timeout:2000,
                    data: postData,
                    error:function (XMLHttpRequest, errorTextStatus, error) {
                        alert('error:\n' + errorTextStatus);
                    },
                    success:function (data) {
                       alert(data.time_entry.description);
                    }
                });

        $('#container-main').unmask();

    }

    $(document).ready(
            function () {
                $('select#client_id').change(
                        function () {
                            var id_client_id_value_string = $(this).val();
                            fetch_data_for_dropdown('/clients/' + id_client_id_value_string + '/engagements.json', 'engagement_id', 'engagements');
                        }
                );
            }
    );

    $(document).ready(
            function () {
                var task_droplist_id = 'activity_id';

                $('select#engagement_id').change(
                        function () {
                            var engagement_id_value_string = $(this).val();
                            fetch_data_for_dropdown('/engagements/' + engagement_id_value_string + '/activities.json', task_droplist_id, 'activities');
                        }
                );
            }
    );

    $(document).ready(
        function(){
            $('#button-create-entry').click(create_new_entry);
        }
    );


</script>

<style type="text/css">
    .rounded-corners {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #CFCFCF;
    }

</style>
<h1>Start#index</h1>

<div id="container-main">
  <div id="container-weekview">
    [Weekview]
  </div>

  <div id="container-entry">
    <%= select "client", "id", @clients.map { |c| [c.name, c.id] } %>
    <br/>

    <div style="padding-top: 15px;">
      <select data-placeholder="Välj uppdrag..." id="engagement_id" style="width: 250px; " tabindex="2"></select>
    </div>
    <br/>
    <select data-placeholder="Välj aktivitet..." id="activity_id" style="width: 250px;" tabindex="3"></select>

  </div>

  <div id="entry-container" style="margin-left: 300px; float: left; margin-top: -108px; ">
    <div id="time-entry-container">
      <input id="activity_date" type="text" style="width: 125px" class="rounded-corners" data-placeholder="Aktivitetsdatum" tabindex="4"/>
      <input id="time_spent" type="text" style="width: 50px;" class="rounded-corners" tabindex="5"/>
    </div>
    <div style="float: left; margin-left: 200px; margin-top: -21px;">
      <input type="checkbox" checked="true" id="util" tabindex="6" /> Util
    </div>
    <div id="textarea-container" style="padding-top: 9px;">
      <input id="description" type="textarea" style="width: 250px; height: 40px; vertical-align: top;" class="rounded-corners" tabindex="7"/>
    </div>
    <div id="create-entry-container" align="right" style="padding-top: 9px;">
      <input id="button-create-entry" type="button" value="Create Entry" tabindex="8"/>

    </div>
  </div>
</div>


<script type="text/javascript" language="javascript">
    $('#client_id').attr('tabindex', '1');
    $('#client_id').prepend("<option value=\"" + "" + "\">" + "" + "</option>").attr("data-placeholder", "Välj kund...");
    $('#client_id').width(250);
    $('#client_id').chosen();
    $('#engagement_id').chosen();
    $('#activity_id').chosen();
    $('#activity_date').datepick(
    {
        dateFormat: 'yyyy-mm-dd',
        selectDefaultDate: true,
        defaultDate: '-0w'
    });
</script>
