<script type="text/javascript" language="javascript">

    $(document).ready(
            function () {
                $('select#client_id').change(
                        function () {
                            var id_client_id_value_string = $(this).val();

                        }
                );
            }
    );


    //    $.ajax({
    //                    dataType: "json",
    //                    cache: false,
    //                    url: '/engagements/' + id_value_string,
    //                    timeout: 2000,
    //                    error: function(XMLHttpRequest, errorTextStatus, error){
    //                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
    //                    },
    //                    success: function(data){
    //                        // Clear all options from sub category select
    //                        $("select#gallery_sub_section_id option").remove();
    //                        //put in a empty default line
    //                        var row = "<option value=\"" + "" + "\">" + "" + "</option>";
    //                        $(row).appendTo("select#gallery_sub_section_id");
    //                        // Fill sub category select
    //                        $.each(data, function(i, j){
    //                            row = "<option value=\"" + j.sub_section.id + "\">" + j.sub_section.name + "</option>";
    //                            $(row).appendTo("select#gallery_sub_section_id");
    //                        });
    //                     }
    //                });


</script>
<h1>Start#index</h1>


<div id="container-main">

  <div id="container-weekview">


  </div>

  <div id="container-entry">
    <%= select "client", "id", @clients.map { |c| [c.name, c.id] } %>

    <select data-placeholder="Välj uppdrag..." id="engagement_id" style="width: 250px;"></select>

    <select data-placeholder="Välj aktivitet..." id="task_id" style="width: 250px;"></select>

  </div>


</div>




<p>Find me in app/views/start/index.html.erb</p>

<script type="text/javascript" language="javascript">
    $('#client_id').chosen();
    $('#engagement_id').chosen();
    $('#task_id').chosen();
</script>
