<script type="text/javascript" language="javascript">

    function fetch_data_for_dropdown(dataUrl, dropdown_id, root_node_name) {
        $.ajax({
            dataType:'json',
            cache:false,
            url:dataUrl,
            timeout:2000,
            error:function (XMLHttpRequest, errorTextStatus, error) {
                alert('error');
            },
            success:function (data) {
                $('select#' + dropdown_id + ' option').remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo('select#' + dropdown_id);
                $.each(data[root_node_name], function (i, entity) {
                    row = "<option value=\"" + entity.id + "\">" + entity.name + "</option>";
                    $(row).appendTo('select#' + dropdown_id);
                });
                $('select#' + dropdown_id).trigger('liszt:updated');
            }
        });
    }

    function create_new_entry() {
        $.ajax({
                    type: 'POST',
                    dataType:'json',
                    cache:false,
                    url:'/time_entry/create',
                    timeout:2000,
                    error:function (XMLHttpRequest, errorTextStatus, error) {
                        alert('error:\n' + errorTextStatus);
                    },
                    success:function (data) {
                       alert(data);
                    }
                });
    }

    $(document).ready(
            function () {
                $('select#client_id').change(
                        function () {
                            var id_client_id_value_string = $(this).val();
                            fetch_data_for_dropdown('/clients/' + id_client_id_value_string + '/engagements.json', 'engagement_id', 'engagements');
                        }
                );
            }
    );

    $(document).ready(
            function () {
                var task_droplist_id = 'activity_id';

                $('select#engagement_id').change(
                        function () {
                            var engagement_id_value_string = $(this).val();
                            fetch_data_for_dropdown('/engagements/' + engagement_id_value_string + '/activities.json', task_droplist_id, 'activities');
                        }
                );
            }
    );

    $(document).ready(
        function(){
            $(' #button-create-entry').click(create_new_entry);
        }
    );


</script>

<style type="text/css">
    .rounded-corners {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #CFCFCF;
    }

</style>
<h1>Start#index</h1>

<div id="container-main">


  <div id="container-weekview">


  </div>

  <div id="container-entry">
    <%= select "client", "id", @clients.map { |c| [c.name, c.id] } %>
    <br/>

    <div style="padding-top: 15px;">
      <select data-placeholder="Välj uppdrag..." id="engagement_id" style="width: 250px; "></select>
    </div>
    <br/>
    <select data-placeholder="Välj aktivitet..." id="activity_id" style="width: 250px;"></select>

  </div>

  <div id="entry-container" style="margin-left: 300px; float: left; margin-top: -108px; ">
    <div id="time-entry-container">
      <input id="date" type="text" style="width: 125px" class="rounded-corners" data-placeholder="Aktivitetsdatum"/>
      <input id="time_spent" type="text" style="width: 50px;" class="rounded-corners"/>
    </div>
    <div style="float: left; margin-left: 200px; margin-top: -21px;">
      <input type="checkbox" checked="true" id="util"  /> Util
    </div>
    <div id="textarea-container" style="padding-top: 9px;">
      <input id="description" type="textarea" style="width: 250px; height: 40px; vertical-align: top;" class="rounded-corners"/>
    </div>
    <div id="create-entry-containder" align="right" style="padding-top: 9px;">
      <input id="button-create-entry" type="button" value="Create Entry" />
    </div>
  </div>


</div>



<div style="padding-top: 100px;">

</div>
<script type="text/javascript" language="javascript">
    $('#client_id').prepend("<option value=\"" + "" + "\">" + "" + "</option>").attr("data-placeholder", "Välj kund...");
    $('#client_id').width(250);
    $('#client_id').chosen();
    $('#engagement_id').chosen();
    $('#activity_id').chosen();
</script>
