<script type="text/javascript" language="javascript">

    $(document).ready(
            function () {
                $('select#client_id').change(
                        function(){
                            var id_client_id_value_string = $(this).val();
                            $.ajax({
                                dataType: 'json',
                                cache: false,
                                url: '/engagements.json',
                                timeout: 2000,
                                error: function(XMLHttpRequest, errorTextStatus, error){
                                    alert('error');
                                },
                                success: function(data){
                                    var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                                    $(row).appendTo('select#engagement_id');
                                    $.each(data.engagements, function(i, engagement){
                                        row = "<option value=\"" + engagement.id + "\">" + engagement.name + "</option>";
                                        $(row).appendTo('select#engagement_id');
                                    });
                                    $('select#engagement_id').trigger('liszt:updated');
                                }
                            });
                        }
                );
            }
    );

</script>
<h1>Start#index</h1>


<div id="container-main">

  <div id="container-weekview">


  </div>

  <div id="container-entry">
    <%= select "client", "id", @clients.map { |c| [c.name, c.id] } %>

    <select data-placeholder="Välj uppdrag..." id="engagement_id" style="width: 250px;"></select>

    <select data-placeholder="Välj aktivitet..." id="task_id" style="width: 250px;"></select>

  </div>


</div>




<p>Find me in app/views/start/index.html.erb</p>

<script type="text/javascript" language="javascript">
    $('#client_id').chosen();
    $('#engagement_id').chosen();
    $('#task_id').chosen();
</script>
